/*  your css code here. If applicable */
.code-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.code {
  width: 40px;
  height: 50px;
  font-size: 20px;
  text-align: center;
}